body {
    background-color: rgb(99, 99, 99);
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    margin-right: 5px;
    color: black;
    font-size: large;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    text-align: right;
}

div h1 {
    color: rgb(53, 149, 180);
    text-align: center;
    font-size: 48px;
    margin-bottom: 2px;
}

div p {
    color: white;
    text-align: center;
    margin-top: 1px;
}